.sec-title3 {
    .sub-title {
        font-size: 16px;
        line-height: 28px;
        // font-weight: 500;
        color: var(--venetian-red);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .title {
        font-size: 36px;
        line-height: 46px;
        // font-weight: 700;
        color: var(--erie-black);
    }
}

.slick-slide {
    padding: 15px;
}

.cd__blog .blog-item {
    background: #fff;
    transition: all 0.5s ease;
    border-radius: 5px;

    a {
        color: inherit;
        transition: all 0.3s ease;
        text-decoration: none !important;
        outline: none !important;
    }

    &:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    img {
        display: block;
    }
}

.cd__blog {
    .blog-item {
        .blog-content {
            // box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
            padding: 35px 30px 15px;

            .cd__view_btn {
                a {
                    padding: 0;
                    font-family: "Rubik", Sans-serif;
                    font-weight: 400;
                    color: #505050;
                    font-size: 15px;
                    position: relative;
                    &:after {
                        content: "\f054";
                        font-family: "FontAwesome";
                        font-size: 12px;
                        position: relative;
                        right: 0;
                        top: 0;
                        display: inline-block;
                        margin-left: 3px;
                    }
                    &:hover {
                        color: var(--venetian-red);
                    }
                }
            }
            .blog-meta {
                margin-bottom: 11px;

                li {
                    position: relative;
                    margin-right: 5px;
                    padding-right: 15px;
                    display: inline-block;
                }
            }

            .title {
                margin-bottom: 14px;
                font-size: 22px;
                line-height: 32px;
                color: var(--erie-black);
            }

            .desc {
                color: #505050;
                padding-bottom: 20px;
            }

            .btn-btm {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #f4f0f0;
                padding-top: 20px;

                .cat-list {
                    .post-categories {
                        display: flex;
                        position: relative;
                        padding-left: 22px;
                        &:before {
                            content: "\f02d";
                            font-family: "FontAwesome";
                            font-size: 15px;
                            color: var(--venetian-red);
                            position: absolute;
                            left: 0;
                            top: 1px;
                        }

                        li {
                            font-size: 14px;
                            text-transform: capitalize;
                            a {
                                color: #505050;
                                &:hover {
                                    color: var(--venetian-red);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 